 body {
            background-image: url("gmr.png");
            width: 100%;
            background-size: cover;
            margin: 0;
        }
        body::-webkit-scrollbar
        { display: none;
        }
        h2 {
            color: white;
            background-image: url("heading_background.png");
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            padding: 1%;
            width: auto;
            background-size: cover;
        }
        .hidden {
            display: none;
        }
        a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    
}
 .table1 {  
        border-collapse: collapse; /* Prevents space between cell borders */  
        /* Add margin around the entire table */  
    }  
    .table1 th, .table1 td {  
        padding: 10px; /* Optional: this is cell padding */  
        border: 1px solid black; /* Optional: adds a border for visibility */  
    }  
        .heading {
            background-image: linear-gradient(75deg, rgba(0,57,116,0.3), rgba(0,57,116,0.3),rgba(0,57,116,0.3),rgba(0,57,116,0.3));
            position: relative;
            top: -30px;
            background-size: cover;
        }
        .header {
/*            display: flex;
            flex:1;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px 200px;
            position: relative;
            top: -7px;
            margin: 0px 0px 10px 0px;*/

    display: flex;
    flex: 1;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    gap:1%;
/*    padding-left: 6% ;
    padding-right: 6% ;*/
    position: relative;
    top: -7px;
    margin: 0 0 10px 0;
    overflow: auto; /* Add this to allow scrolling if necessary */
}

        
        .contents {
            display: block;
            width: auto;
            height: auto;
            border: 1px solid;
            background-image: linear-gradient(75deg, rgba(250,171,83,0.9), rgba(250,171,83,0.9));
            padding: 0.3em; /*rem or em */
            font-size: medium;
            border: none;
            align-content: center;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
        }
        h3 {
            color: white;
            text-align: center;
/*            -webkit-text-stroke: 1px white; 
            text-stroke: 1px rgb(0,57,116);*/
/*            font-size:25px;*/
            margin-top:-2%;
            
        }
/*        .content {
            margin-left: 38%;
            width: 100%;
            max-width: 150px;
            text-align: center;
        }*/
/*        #searchInput {
            width: 250%;
           
        }*/
        .container {
            color: white;
            font-size: medium;
            width: 50px;
            margin-left: 750px;
            border-radius: 15%;
            background-image: linear-gradient(75deg,rgba(250,171,83,0.7), rgba(0,57,116,1),rgba(250,171,83,0.7));
        }
        th{
        background-color: #003974;
        border: 1px ridge black;
        border-collapse: collapse;
        color:white;
        font-size: small;
       
        }
        table,  td {
            border: 1px ridge black;
            border-collapse: collapse;
            
        }
         td {
            background-color: white;
            font-size: small;
            
        }
        
        .button {
            color: white;
            font-size: medium;
            width:12%;
            margin-left: 44%;
            border-radius: 20px;;
            background-image: linear-gradient(75deg,rgba(250,171,83,0.7), rgba(0,57,116,1),rgba(250,171,83,0.7));
        }
        button{
            background-color: #faab53;
            padding:2px;
        }
        .input{
            color: black;
            font-size: medium;
            width: 20%;
            margin-left: 40%;
            border-radius: 1px;;
            background-color: white;}
        
        .scrollable-table {
            max-height: 400px; 
            overflow-y: auto;
            margin-left: 0; 
           
            
        }
        .scrollable-table::-webkit-scrollbar 
        { display: none;
        }
